.changepassword-submit.MuiButton-root {
	align-self: flex-end;
	margin-top: 20px;
	border-radius: 8px;
	padding: 20px 50px;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #ffdbdb;
	background-color: transparent;
	color: var(--text-color);
	min-width: 120px;
	text-transform: none;

	&:hover:not(:disabled) {
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid #ffdbdb;
	}

	&:disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}

