// @import "~@fortawesome/fontawesome-svg-core/styles.css";

.header {
  &__container {
    // border: 5px solid purple;
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    align-items: center;
    height: 30%;
    border-bottom: 1px solid grey;
  }
  &__tablist {
    // border: 5px solid red;
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin-left: -80px;
    &_icon {
      // border: 5px solid blue;
      margin: 0 25px;
      display: flex;
      align-items: center;
    }
  }
  &__profileImg {
    // border: 5px solid blue;
    object-fit: cover;
    width: 75px; /* Set width */
    height: 75px; /* Set height */
    border-radius: 50px;
  }
}

.dropdown {
  padding-left: 100px;
}
.dropdown-item-darkModeBtn {
  display: flex;
}
