.sidebar {
  &_container {
    // border: 3px solid pink;
    flex: none;
    width: 20%;
    a {
      text-decoration: none; // Remove underline from links
    }
  }
  &_menu {
    // border: 1px solid blue;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    & > p {
      // border: 1px solid red;
      margin: 0 20px;
    }
    &-list {
      // border: 3px solid orange;
      display: flex;
    }
  }
}
