.friendsList {
  &_container {
    display: flex;
  }
  &_itemBox {
    display: flex;
    border: 5px solid orange;
    width: 100vh;
    height: auto;
    padding: 30px 10px;
    margin: 20px 20px;
  }
  &_status {
    justify-items: center;
  }
}
