.friendsList {
  &__container {
    // position: relative;
    // right: -300px;
    border: 5px solid orange;
    margin: 30px 130px;
    display: flex;
    // width: 100vh;
    justify-content: space-between;
  }
  &__itemBox {
    border: 1px solid blue;
    display: flex;
    align-items: center;

    // width: auto;
    // padding: 30px 10px;
    // margin: 20px 20px;
    a {
      padding: 10px;
      margin: 0;
      // justify-items: center;
    }
    p {
      margin: 0;
    }
  }
  &__profileImg {
    border: 2px solid blue;
    object-fit: cover;
    width: 78px; /* Set width */
    height: 70px; /* Set height */
    border-radius: 50px;
  }
  &__status {
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: red;

    button {
      margin: 0 10px;
    }
  }
}
