.userupdate-container {
  & > h1 {
    padding: 30px 20px;
  }
  &-content {
    padding: 50px 100px;
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.userupdate-profileImg {
  border: 1px solid red;
  object-fit: cover;
  width: 300px; /* Set width */
  height: 300px; /* Set height */
  border-radius: 150px;
}
