.loginLayout,
.registerLayout,
.homeLayout-body {
  display: flex;
}

.homeLayout {
  // border: 10px solid blue;
  height: 100%;
}

.homeLayout-body {
  border: 3px solid purple;
  height: 89%;
}

.homeLayout-body {
  display: flex;
}

.sidebarLayout {
  width: 15%;
}

.contentLayout {
  width: 85%;
}
