.loginPage {
  height: 100%;
  &-content {
    // border: 5px solid orange;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    &-companyLogo {
      display: block;
      width: auto;
      align-items: center;
      width: 80%;
      padding: 180px 10px 50px;
    }
    &-btns {
      display: flex;
      padding: 50px 0;
    }
  }
}

.btns {
  &-signIn {
    border: 1px solid #ffdbdb;
    background-color: #ffdbdb;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 0 10px;
  }
  &-register {
    border: 1px solid #dbd6d6;
    background-color: #dbd6d6;
    border-radius: 5px;
    padding: 10px 50px;
    margin: 0 20px;
  }
}
