.community {
  &_card {
    border: 5px solid orange;
    width: auto;
    height: auto;
    padding: 50px;
    & > p {
      width: 13%;
    }
  }
  &-cardImg {
    border: 1px solid red;
    object-fit: cover;
    width: 150px; /* Set width */
    height: 150px; /* Set height */
    border-radius: 150px;
  }
}
