.registerPage {
  height: 100%;
  &-content {
    align-items: center;
    justify-items: center;
    padding: 0 50px;
    &-companyLogo {
      display: block;
      width: auto;
      align-items: center;
      // padding: 180px 10px 50px;
    }
  }
}
.formField {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  & > form {
    & > label {
      padding: 20px 0;
    }
    & > button {
      align-items: center;
      // margin: 20px 0;
    }
  }
}

.btn {
  text-align: center;
  margin: 20px;
  padding: 10px 30px;
  a {
    text-decoration: none; // Remove underline from links
  }
  &-signUp {
    border: 1px solid pink;
    background-color: pink;
    border-radius: 5px;
    align-items: center;
    margin-left: 240px;
  }
}
