.loginLayout {
  display: flex;
}

.loginContainer {
  width: 50%;
}

.auth-layout {
  display: flex;

  &__side {
    width: 70%;
    border: 1px solid blue;
  }

  &__content {
    width: 30%;
    border: 1px solid green;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
