@use "./mixin";

.registerPage {
  height: 100%;
}

.formField {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  & > form {
    & > label {
      padding: 20px 0;
    }
    & > button {
      align-items: center;
    }
  }
}

.btn {
  align-items: left;
  margin: 20px;
  padding: 10px 30px;
  &-signUp {
    border: 1px solid pink;
    background-color: pink;
    border-radius: 5px;
    align-items: center;
  }
}
