html,
body {
  margin: 0;
  /* very important */
  /*   height: 100%; */
  /*   width: 100%;  */
  font-size: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

//form errors
form {
  input.error {
    border: 1px solid red;
  }

  div.error {
    color: red;
  }
}

input {
  width: 100%;
}
